.box{
  border-radius: 6px;
  border: 2px solid #ccc;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-in-out 0s;
}

.box.active, .box:hover{
  border: 2px solid #1a8840;
}

.box:hover .line1, .box.active .line1{
  border: 1px solid var(--google-blue);
  background-color: var(--google-blue);
}

.box:hover .line2, .box.active .line2{
  border: 1px solid var(--google-red);
  background-color: var(--google-red);
}

.box:hover .line3, .box.active .line3{
  border: 1px solid var(--google-yellow);
  background-color: var(--google-yellow);
}

.box:hover .line{
  justify-content: flex-end;
}

.line{
  width: 80%;
  height: 25%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 3px;
  position: relative;
  transition: all .2s ease-in-out 0s;
}

.line::before{
  content: '';
  position: absolute;
  left: 1px;
  width: 4px;
  height: 4px;
  background-color: #ccc;
  border-radius: 50%;
  transition: all .2s ease-in-out 0s;
}

.box.active .line::before, .box:hover .line::before{
  content: '';
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
}
