.spinner{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*outline: 1px solid red;*/
}

.spinner::before{
  content: "";
  width: 10px;
  height: 10px;
  background-color: #2D3436;
  border-radius: 50%;
  transform: rotateZ(45deg) translateY(20px);
  animation: spin;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg) translateY(20px);
  }
  100% {
    transform: rotateZ(360deg) translateY(20px);
  }
}

.visualization{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
}

.summary{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8px;
  width: 100%;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-chart{
  width: 100%;
}

.summary-box{
  width: 400px;

}

.summary-line{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
}
