.spinner{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid red;
}

.spinner::before{
  content: "";
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  transform: rotateZ(45deg) translateY(20px);
  animation: spin;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg) translateY(20px);
  }
  50% {
    transform: rotateZ(180deg) translateY(20px);
  }
  100% {
    transform: rotateZ(360deg) translateY(20px);
  }
}
