<div class="wrapper">
  <p class="title">Execute Single Classification</p>
  <form [formGroup]="formGroup" class="form">
    <label>
      Algorithm
      <select formControlName="algorithm">
        <option value="chebyshev">CHEBYSHEV</option>
        <option value="manhattan">MANHATTAN</option>
        <option value="euclidean">EUCLIDEAN</option>
      </select>
    </label>
    <label class="flex flex-row">
      <k-icon [active]="true"></k-icon>
      <input type="number" formControlName="k"/>
    </label>
    <label class="flex-row-rev">
      Ratio (Train data: {{ratio.value / 100 | percent}} / Test data: {{1.0 - (ratio.value / 100) | percent}})
      <input min="1" max="99" type="range" step="1" formControlName="ratio"/>
    </label>

    <div class="execution-details">
      <button [disabled]="!formGroup.valid || waitingForResponse" (click)="executeClassification()" class="button">
        <div *ngIf="!waitingForResponse">
          Execute classification
        </div>
        <div *ngIf="waitingForResponse" class="button-locked">
          Processing...
          <div class="spinner"></div>
        </div>
      </button>

      <div class="options">
        <label class="flex-row-rev">
          Visualize classification result
          <input type="checkbox" formControlName="visualizeResult"/>
        </label>
        <label class="flex-row-rev">
          Show classification result after receiving
          <input type="checkbox" formControlName="showResult"/>
        </label>
      </div>
    </div>

  </form>
</div>
