<div class="wrapper">
  <p class="title">Execute Single Classification</p>
  <form [formGroup]="formGroup">
    <label>
      Algorithm
      <select formControlName="algorithm">
        <option value="chebyshev">CHEBYSHEV</option>
        <option value="manhattan">MANHATTAN</option>
        <option value="euclidean">EUCLIDEAN</option>
      </select>
    </label>
    <label>
      K
      <input type="number" formControlName="k"/>
    </label>
    <label>
      Ratio (Train data: {{ratio.value / 100 | percent}} / Test data: {{1.0 - (ratio.value / 100) | percent}})
      <input min="1" max="99" type="range" step="1" formControlName="ratio"/>
    </label>
    <button [disabled]="!formGroup.valid" (click)="executeClassification()">Execute classification</button>
  </form>
</div>
