/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(80,80,80);
  list-style: none;

}
:root {
  --google-blue: rgb(66, 133, 244);
  --google-red: rgb(219, 68, 55);
  --google-yellow: rgb(244, 180, 0);
  --google-green: #1a8840;
}


body, html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: inherit;
  color: inherit;
  background: inherit;
}
.title {
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-size: 20px;
}
button {
  background-color: #1e90ff;
  outline: none;
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  border: 1px solid #444;
  font-size: 14px;
  font-weight: bold;
}
.button-red {
  background-color: firebrick;
}
.button-red:hover {
  background-color: #d55555;
}
button:hover{
  background-color: #50acff;

}

.flex {
  display: flex;
  gap: 4px;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

svg > rect {
  fill: none;
}

svg > g:first-child > rect {
  fill: none;
}

.spinner{
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  /*outline: 1px solid red;*/
  transform: rotateZ(180deg);
}

.spinner::before{
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ddd;
  border-radius: 50%;
  transform: rotateZ(45deg) translateY(200%);
  animation: spin;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg) translateY(200%);
  }
  50% {
    transform: rotateZ(0deg) translateY(200%);
  }
  100% {
    transform: rotateZ(360deg) translateY(200%);
  }
}
